{% extends "base.html" %}
{% load static %}

{% block title %} 
    Question Detail Page
{% endblock title %}

{% block content %} 
    <h1>{{ question.question_text }}</h1>

    <h3>Choices of this question</h3>
    {% if not question.choice_set.all %}
    <p>No choices are available.</p>
    {% else %}
    <h5>Have {{question.choice_set.count}} choices</h5>
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
        
        
    </ul>
    {% endif%}
{% endblock content %}

