{% extends "base.html" %}
{% load static %}

{% block title %} 
    Questions Page
{% endblock title %}

{% block head %}
    {% comment %} block.super: Use block from extends {% endcomment %}
    {{ block.super }} 
    <link href="{% static 'polls/css/base.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}
<h1>Questions</h1>
<a href="/polls/choices">{{ "choices" }}</a>
<div class="questions-filters" style="margin-top:4px">
    <a href="{% url 'index' %}"> All </a>
    <a href="{% url 'index' %}?type=Single"> Single </a>
    <a href="{% url 'index' %}?type=Multiple"> Mulitple </a>
    <a href="{% url 'index' %}?date=today"> Today </a>
</div>
<div class="questions-container">
    {% if questions %}
    <h5>Have {{num_questions}} questions</h5>
    <ul>
    {% for question in questions %}
        <li class="question-item" >
            <a href="{% url 'detail' question.id %}">
            {{ question.question_text | center:"2000" }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No questions are available.</p>
    {% endif %}
</div>
{% endblock %}
   